## **PYTHON PARA ANÁLISE DE DADOS**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#importar a biblioteca pandas
import pandas as pd

In [ ]:
# declarar os dados numa variável dataframe
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Datasets/Gapminder.csv",  error_bad_lines=False, sep=';')
print(type(df))

NameError: ignored

In [ ]:
# visualizando as 5 primeiras linhas
df.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [ ]:
df = df.rename(columns={"country":"Pais", "continent": "continente", "year": "ano", "lifeExp": "Expectativa de vida", "pop": "populacao", "gdpPercap": "PIB"})

In [ ]:
df.head(10)

          Pais continente   ano  Expectativa de vida  populacao         PIB
0  Afghanistan       Asia  1952               28.801    8425333  779.445314
1  Afghanistan       Asia  1957               30.332    9240934  820.853030
2  Afghanistan       Asia  1962               31.997   10267083  853.100710
3  Afghanistan       Asia  1967               34.020   11537966  836.197138
4  Afghanistan       Asia  1972               36.088   13079460  739.981106
5  Afghanistan       Asia  1977               38.438   14880372  786.113360
6  Afghanistan       Asia  1982               39.854   12881816  978.011439
7  Afghanistan       Asia  1987               40.822   13867957  852.395945
8  Afghanistan       Asia  1992               41.674   16317921  649.341395
9  Afghanistan       Asia  1997               41.763   22227415  635.341351

In [ ]:
df.shape

(3312, 6)

In [ ]:
df.columns

Index(['Pais', 'continente', 'ano', 'Expectativa de vida', 'populacao', 'PIB'], dtype='object')

In [ ]:
df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

In [ ]:
df.tail(15)

          Pais continente   ano  Expectativa de vida  populacao          PIB
3297    Zambia     Africa  1997               40.238    9417789  1071.353818
3298    Zambia     Africa  2002               39.193   10595811  1071.613938
3299    Zambia     Africa  2007               42.384   11746035  1271.211593
3300  Zimbabwe     Africa  1952               48.451    3080907   406.884115
3301  Zimbabwe     Africa  1957               50.469    3646340   518.764268
3302  Zimbabwe     Africa  1962               52.358    4277736   527.272182
3303  Zimbabwe     Africa  1967               53.995    4995432   569.795071
3304  Zimbabwe     Africa  1972               55.635    5861135   799.362176
3305  Zimbabwe     Africa  1977               57.674    6642107   685.587682
3306  Zimbabwe     Africa  1982               60.363    7636524   788.855041
3307  Zimbabwe     Africa  1987               62.351    9216418   706.157306
3308  Zimbabwe     Africa  1992               60.377   10704340   693.420786
3309  Zimbabwe     Africa  1997               46.809   11404948   792.449960
3310  Zimbabwe     Africa  2002               39.989   11926563   672.038623
3311  Zimbabwe     Africa  2007               43.487   12311143   469.709298

In [ ]:
df.describe()

               ano  Expectativa de vida     populacao            PIB
count  3312.000000          3312.000000  3.312000e+03    3312.000000
mean   1980.301630            65.246871  3.161489e+07   11317.115805
std      16.927294            11.768412  1.041193e+08   11369.142739
min    1950.000000            23.599000  5.941200e+04     241.165877
25%    1967.000000            58.337500  2.678572e+06    2514.625266
50%    1982.000000            69.610000  7.557218e+06    7838.505123
75%    1996.000000            73.657750  1.958522e+07   17357.879170
max    2007.000000            82.670000  1.318683e+09  113523.132900

In [ ]:
df["continente"].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [ ]:
Oceania = df.loc[df["continente"] == "Oceania"]
Oceania.head()

     Pais continente   ano  Expectativa de vida  populacao          PIB
975  Fiji    Oceania  1962               56.494     421869  2039.393277
976  Fiji    Oceania  1967               58.607     485000  2170.073285
977  Fiji    Oceania  1972               60.642     544000  2797.759484
978  Fiji    Oceania  1977               62.669     599339  3182.569600
979  Fiji    Oceania  1982               64.683     658906  3209.257468

In [ ]:
Oceania["continente"].unique()

array(['Oceania'], dtype=object)

In [ ]:
df.groupby("continente")["Pais"].nunique()

continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: Pais, dtype: int64

In [ ]:
df.groupby("ano")["Expectativa de vida"].sum()

NameError: ignored

In [ ]:
df["PIB"].mean()

11317.115804696637

In [ ]:
df["PIB"].sum()

37482287.5451553